APP_KEYCLOAK_URL=https://xxx/auth
APP_KEYCLOAK_REALM=witcom
APP_KEYCLOAK_CLIENT_ID=demo-process-management-webapp
APP_CAMUNDA_ROOT_URL=https://apis.dev.xxx/camunda
APP_FORMIO_ROOT_URL=https://formio-demo.dev.xxx
